/.prettierrc
/__pycache__
/venv
*.pyc
*.pyo
*.pyd
*.db
**/.env
**/node_modules
**/dist
**/build
**/__pycache__
**/.DS_Store
**/Thumbs.db
**/desktop.ini
**/venv
**/env
**/ENV
**/venv.bak
**/env.bak
**/venv/
**/env/
**/ENV/
**/venv.bak/
**/env.bak/
**/ENV.bak/
__init__.py
**/last_messages.json