$bg: var(--tg-theme-bg-color, #ffffff);
$secondary-bg: var(--tg-theme-secondary-bg-color, #f1f1f4);
$text: var(--tg-theme-text-color, #000000);
$hint: var(--tg-theme-hint-color, #999999);
$accent: var(--tg-theme-button-color, #2481cc);
$accent-text: var(--tg-theme-button-text-color, #ffffff);
$radius: 16px;

@mixin flex-center {
   display: flex;
   align-items: center;
   justify-content: center;
}
