@use './styles/normalize';
@use './styles/variables' as v; // Даем псевдоним v для удобства

@use './components/App/App.scss';
@use './components/Contact/StudentModal.scss';
@use './components/Contacts/StudentCard.scss';
@use './components/Calendar/Calendar.scss';

body {
   background-color: v.$bg;
   color: v.$text;
   font-family:
      'Inter',
      -apple-system,
      sans-serif; // Пример
}
